
    body {
      font-family: "Poppins", sans-serif;
      margin: 0;
      background-color: #f8f9fa;
      color: #333;
    }
    header {
      display: flex;
      flex-direction: row;
      background-color: #004080;
      color: white;
      padding: 1.5rem;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 0 auto;
    }

   img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
   }

   .hp {
    display: flex;
    flex-direction: column;
   }

   .hp p{
    text-align: center;
   }

    nav {
      background-color: #0066cc;
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 1rem;
    }
    nav a {
      color: white;
      text-decoration: none;
      font-weight: 600;
    }
   
    
    nav a:hover {
      background-color: coral;
      border-radius: 5px;
      width: 80px;
      text-align: center;
    }


    section {
      padding: 2rem;
      max-width: 900px;
      margin: auto;
    }
    .missao, .atividades, .contactos {
      margin-bottom: 2rem;
      background: white;
      padding: 1.5rem;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    footer {
      background-color: #004080;
      color: white;
      text-align: center;
      padding: 1rem;
      margin-top: 2rem;
    }
 
    h2 {
      border-bottom: 1px solid brown;
    }