
    body {
      font-family: "Poppins", sans-serif;
      margin: 0;
      background-color: #f8f9fa;
      color: #333;
    }

    header {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }

    header img{
       width: 70px;
       height: 70px;
       border-radius: 50%;
    }

   nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 0 auto;
      background-color: #2f7dcb;
      padding: 15px 0px;
    }

    nav a {
      text-decoration: none;
      color: white;
    }

    nav a:hover {
      background-color: coral;
      border-radius: 5px;
      width: 80px;
      text-align: center;
    }

    header, footer {
      background-color: #004080;
      color: white;
      text-align: center;
      padding: 1.5rem;
    }

    form {
      max-width: 600px;
      margin: 2rem auto;
      background: white;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    label {
      display: block;
      margin-top: 1rem;
      font-weight: 600;
    }

    input, select {
      width: 100%;
      padding: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-top: 0.3rem;
    }

    button {
      margin-top: 1.2rem;
      background-color: #0066cc;
      color: white;
      border: none;
      padding: 0.8rem 1.5rem;
      border-radius: 8px;
      cursor: pointer;
    }

    button:hover {
      background-color: #004080;
    }

    table {
      width: 90%;
      margin: 2rem auto;
      border-collapse: collapse;
      background: white;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    th, td {
      padding: 1rem;
      border-bottom: 1px solid #ddd;
      text-align: center;
    }

    th {
      background-color: #7cb0e4;
      color: white;
    }

    @media (max-width: 600px) {
      table, th, td {
        font-size: 0.9rem;
      }
    }

    h3, h2{
      text-align: center;
    }
